In [1]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)

In [2]:
df = pd.read_excel (r'../../../../eclipse-workspace/processinginsightd_datasource/InsighTD-Respuestas(BR-CH-CO-US).xlsx')

In [3]:
df.shape[0]

432

In [4]:
list(df.columns)

['1. What is the size of your company?',
 '2. In which country you are currently working?',
 '3. What is the size of the system being developed in that project? (LOC)',
 '4. What is the total number of people of this project?',
 '5. What is the age of this system up to now or to when your involvement ended?',
 '6. To which project role are you assigned in this project?',
 'CODE Q6',
 '7. How do you rate your experience in this role (at the time)?',
 '8. Which of the following most closely describes the development process model you follow on this project?',
 '13. Please give an example of TD that had a significant impact on the project that you have chosen to tell us about:',
 'TD Type',
 '15. About this example, how representative it is?',
 'CODE Q16-18',
 '24. Once identified, was the debt item monitored?',
 '25. If yes, how? If not, why? ',
 'CODE Q25',
 '26. Has the debt item been paid off (eliminated) from the project?',
 '27. If yes, how? If not, why? ',
 'CODE Q27',
 'NEWREPAYCODE',
 'Q28. Considering your personal experience with TD management, what actions have you performed to prevent its occurrence?',
 'CODE Q28']

In [5]:
df.rename(columns={ df.columns[0]: "Q1Size" }, inplace = True)
df.rename(columns={ df.columns[1]: "Q2Country" }, inplace = True)
df.rename(columns={ df.columns[2]: "Q3LOC" }, inplace = True)
df.rename(columns={ df.columns[3]: "Q4NumberPeople" }, inplace = True)
df.rename(columns={ df.columns[4]: "Q5Age" }, inplace = True)
df.rename(columns={ df.columns[5]: "Q6Role" }, inplace = True)
df.rename(columns={ df.columns[6]: "CodeRole" }, inplace = True)
df.rename(columns={ df.columns[7]: "Q7Experience" }, inplace = True)
df.rename(columns={ df.columns[8]: "Q8DevProcess" }, inplace = True)
df.rename(columns={ df.columns[9]: "Q13Example" }, inplace = True)
df.rename(columns={ df.columns[10]: "ExampleTDType" }, inplace = True)
df.rename(columns={ df.columns[11]: "Q15ExampleRepresentative" }, inplace = True)
df.rename(columns={ df.columns[12]: "CodeCauses" }, inplace = True)
df.rename(columns={ df.columns[13]: "Q24WasDebtMonitored" }, inplace = True)
df.rename(columns={ df.columns[14]: "Q25HowMonitored" }, inplace = True)
df.rename(columns={ df.columns[15]: "CodeMonitored" }, inplace = True)
df.rename(columns={ df.columns[16]: "Q26WasDebtPaidOff" }, inplace = True)
df.rename(columns={ df.columns[17]: "Q27HowPaidOff" }, inplace = True)
df.rename(columns={ df.columns[18]: "CodePayOff" }, inplace = True)
df.rename(columns={ df.columns[19]: "FinalRepayCode" }, inplace = True)
df.rename(columns={ df.columns[20]: "Q28HowPrevent" }, inplace = True)
df.rename(columns={ df.columns[21]: "CodePrevent" }, inplace = True)

In [6]:
#list(df.columns)

## REPLACING VALUES OF THE ROWS

In [7]:
df['Q1Size'].replace(['1-10 empleados', '1-10 funcionários'], '1-10 employees', inplace=True)
df['Q1Size'].replace(['11-50 empleados', '11-50 funcionários'], '11-50 employees', inplace=True)
df['Q1Size'].replace(['51-250 empleados', '51-250 funcionários'], '51-250 employees', inplace=True)
df['Q1Size'].replace(['251-500 empleados', '251-500 funcionários'], '251-500 employees', inplace=True)
df['Q1Size'].replace(['501-1000 empleados', '501-1000 funcionários'], '501-1000 employees', inplace=True)
df['Q1Size'].replace(['1001-2000 empleados', '1001-2000 funcionários'], '1001-2000 employees', inplace=True)
df['Q1Size'].replace(['mas de 2000 empleados', 'mais que 2000 funcionários'], 'more than 2000 employees', inplace=True)

In [8]:
df['Q4NumberPeople'].replace(['Menos de 5 personas', 'Menos que 5 pessoas'], 'Less than 5 people', inplace=True)
df['Q4NumberPeople'].replace(['5-9 personas', '5-9 pessoas'], '5-9 people', inplace=True)
df['Q4NumberPeople'].replace(['10-20 personas', '10-20 pessoas'], '10-20 people', inplace=True)
df['Q4NumberPeople'].replace(['21-30 personas', '21-30 pessoas'], '21-30 people', inplace=True)
df['Q4NumberPeople'].replace(['Más de 30 personas', 'Mais que 30 pessoas'], 'More than 30 people', inplace=True)

In [9]:
df['Q5Age'].replace(['Menos de 1 año', 'Menos que 1 ano'], 'Less than 1 year', inplace=True)
df['Q5Age'].replace(['1-2 años', '1-2 anos'], '1-2 years', inplace=True)
df['Q5Age'].replace(['2-5 años', '2-5 anos'], '2-5 years', inplace=True)
df['Q5Age'].replace(['5-10 años', '5-10 anos'], '5-10 years', inplace=True)
df['Q5Age'].replace(['Más de 10 años', 'Mais que 10 anos'], 'More than 10 years', inplace=True)

In [10]:
df['Q7Experience'].replace(['Competente (Buen conocimiento laboral y de fondo del área de práctica)', 'Competente'], 'Competent', inplace=True)
df['Q7Experience'].replace(['Proficiente (Profundo entendimiento de la disciplina y del área de práctica)', 'Proficiente'], 'Proficient', inplace=True)
df['Q7Experience'].replace(['Experto (Conocimiento autoritativo de la disciplina y un entendimiento profundo al rededor del área de práctica)', 'Especialista'], 'Expert', inplace=True)
df['Q7Experience'].replace(['Principiante (Conocimiento laboral de los aspectos claves del área de práctica)', 'Iniciante'], 'Beginner', inplace=True)
df['Q7Experience'].replace(['Novato (Conocimiento mínimo o teórico sin conectarlo a la práctica)', 'Novato'], 'Novice', inplace=True)

In [11]:
df['Q8DevProcess'].replace(['Híbrido (es la combinación de métodos ágiles con otras técnicas no ágiles. Por ejemplo, un esfuerzo para detallar requisitos, seguido de sprints de entrega incremental)', 'Híbrido'], 'Hybrid', inplace=True)
df['Q8DevProcess'].replace(['Ágil (un proceso ligero que promueve el desarrollo iterativo, la estrecha colaboración entre el equipo de desarrollo y el negocio, la comunicación constante y los equipos muy cohesionados).', 'Ágil'], 'Agile', inplace=True)
df['Q8DevProcess'].replace(['Tradicional (métodos convencionales de desarrollo de software basados en documentos que pueden caracterizarse como planificación extensiva, estandarización de las etapas de desarrollo, comunicación formalizada, documentación significativa y diseño de up-front).', 'Tradicional'], 'Traditional', inplace=True)
df['Q8DevProcess'].replace(['', ''], '', inplace=True)

## TRANSFORMING EVERYTHING TO UPPERCASE

In [12]:
df['CodeCauses'] = df['CodeCauses'].str.strip()
df['CodeCauses'] = df['CodeCauses'].str.upper() 

df['Q1Size'] = df['Q1Size'].str.strip()
df['Q1Size'] = df['Q1Size'].str.upper() 

df['Q2Country'] = df['Q2Country'].str.strip()
df['Q2Country'] = df['Q2Country'].str.upper()

df['Q4NumberPeople'] = df['Q4NumberPeople'].str.strip()
df['Q4NumberPeople'] = df['Q4NumberPeople'].str.upper()

df['Q5Age'] = df['Q5Age'].str.strip()
df['Q5Age'] = df['Q5Age'].str.upper()

df['CodeRole'] = df['CodeRole'].str.strip()
df['CodeRole'] = df['CodeRole'].str.upper()

df['Q8DevProcess'] = df['Q8DevProcess'].str.strip()
df['Q8DevProcess'] = df['Q8DevProcess'].str.upper()

## GETTING COUNTS PER COLUMN

In [16]:
df.CodeRole.value_counts().sum()

432

In [13]:
df.CodeRole.value_counts()

TECHNICAL     258
MANAGEMENT     97
ARCHITECT      72
OTHER           5
Name: CodeRole, dtype: int64

In [17]:
# OTHER are removed from the counting
df.CodeRole.value_counts()/427*100

TECHNICAL     60.421546
MANAGEMENT    22.716628
ARCHITECT     16.861827
OTHER          1.170960
Name: CodeRole, dtype: float64

In [18]:
df.Q2Country.value_counts().sum()

432

In [19]:
df.Q2Country.value_counts()

COLOMBIA                          134
BRASIL                            107
UNITED STATES OF AMERICA (USA)     99
CHILE                              92
Name: Q2Country, dtype: int64

In [20]:
df.Q2Country.value_counts()/432*100

COLOMBIA                          31.018519
BRASIL                            24.768519
UNITED STATES OF AMERICA (USA)    22.916667
CHILE                             21.296296
Name: Q2Country, dtype: float64

In [40]:
dfA=df[df['CodeRole']=='ARCHITECT']
dfT=df[df['CodeRole']=='TECHNICAL']
dfM=df[df['CodeRole']=='MANAGEMENT']

### COUNTRY REPRESENTATION

In [51]:
dfA.Q2Country.value_counts().sum()

72

In [52]:
dfA.Q2Country.value_counts()

COLOMBIA                          28
UNITED STATES OF AMERICA (USA)    18
CHILE                             16
BRASIL                            10
Name: Q2Country, dtype: int64

In [53]:
dfA.Q2Country.value_counts()/72*100

COLOMBIA                          38.888889
UNITED STATES OF AMERICA (USA)    25.000000
CHILE                             22.222222
BRASIL                            13.888889
Name: Q2Country, dtype: float64

### COMPANY SIZE

In [55]:
dfA.Q1Size.value_counts()

11-50 EMPLOYEES             21
MORE THAN 2000 EMPLOYEES    14
251-500 EMPLOYEES           10
501-1000 EMPLOYEES           9
51-250 EMPLOYEES             7
1-10 EMPLOYEES               6
1001-2000 EMPLOYEES          5
Name: Q1Size, dtype: int64

In [56]:
dfA.Q1Size.value_counts()/72*100

11-50 EMPLOYEES             29.166667
MORE THAN 2000 EMPLOYEES    19.444444
251-500 EMPLOYEES           13.888889
501-1000 EMPLOYEES          12.500000
51-250 EMPLOYEES             9.722222
1-10 EMPLOYEES               8.333333
1001-2000 EMPLOYEES          6.944444
Name: Q1Size, dtype: float64

### SIZE OF DEVELOPMENT TEAM

In [102]:
dfA.Q4NumberPeople.value_counts()

5-9 PEOPLE             27
10-20 PEOPLE           20
21-30 PEOPLE           12
MORE THAN 30 PEOPLE    12
LESS THAN 5 PEOPLE      7
Name: Q4NumberPeople, dtype: int64

In [59]:
dfA.Q4NumberPeople.value_counts()/72*100

5-9 PEOPLE             36.111111
10-20 PEOPLE           25.000000
MORE THAN 30 PEOPLE    15.277778
21-30 PEOPLE           13.888889
LESS THAN 5 PEOPLE      9.722222
Name: Q4NumberPeople, dtype: float64

### SYSTEM AGE

In [60]:
dfA.Q5Age.value_counts()

2-5 YEARS             25
1-2 YEARS             24
LESS THAN 1 YEAR      10
MORE THAN 10 YEARS     7
5-10 YEARS             6
Name: Q5Age, dtype: int64

In [61]:
dfA.Q5Age.value_counts()/72*100

2-5 YEARS             34.722222
1-2 YEARS             33.333333
LESS THAN 1 YEAR      13.888889
MORE THAN 10 YEARS     9.722222
5-10 YEARS             8.333333
Name: Q5Age, dtype: float64

### EXPERIENCE

In [62]:
dfA.Q7Experience.value_counts()

Proficient    26
Expert        21
Competent     19
Beginner       5
Novice         1
Name: Q7Experience, dtype: int64

In [63]:
dfA.Q7Experience.value_counts()/72*100

Proficient    36.111111
Expert        29.166667
Competent     26.388889
Beginner       6.944444
Novice         1.388889
Name: Q7Experience, dtype: float64